$orange: #e06b4f;
$lightOrange: lighten($orange, 8%);
$lightBlue: #738D9E;
$blue: #3b4952;
$darkBlue: #32414A;

/* Mixins */
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transition-timing($timing) {
  -webkit-transition-timing-function: $timing;
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  transition-timing-function: $timing;
}