<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="wrapper">
      <div class="container">
          <div class="logo">
              <span class="fa fa-diamond icon"></span>
              <h3 class="masthead-title">
                
              </h3>
          </div>
          {{ content }}
          <a href="https://github.com/headdetect/blog">See on GitHub</a>
      </div>
    </div>
  </body>

  {% include analytics.html %}
  <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="public/js/jquery.mixitup.min.js"></script>
  <script src="public/js/javas.js"></script>
</html>